.projectCard {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  border: 1px solid var(--clr-surface-a20);
  border-radius: 5px;
}

.projectBottom {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projectImgContainer {
  height: 130px;
}

.projectImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.projectTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.projectTagsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.paragraph {
  composes: paragraph from "../../app.module.css";
  margin-bottom: 5px;
}
