.projectCardContainer {
  perspective: 500px;
  justify-self: center;
  height: 100%;
  width: 100%;
}

.projectCard {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 100%;
  border: 1px solid var(--clr-surface-a20);
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: center;
  backface-visibility: hidden;
  box-shadow: 0px 5px 5px var(--clr-dark-a0);
  justify-content: center;
}

.projectCardContainer:hover > .projectCard {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--clr-surface-a20);
  box-shadow: 0px 5px 5px var(--clr-dark-a0);
}

.back img {
  height: 50px;
}

.projectBottom {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projectImgContainer {
  height: 130px;
}

.projectImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.projectTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.projectTagsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.paragraph {
  composes: paragraph from "../../app.module.css";
  margin-bottom: 5px;
}

@media (max-width: 964px) {
  .projectTitle {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .projectCardContainer {
    perspective: 1200px;
  }
}

/* @media (max-width: 480px) {
   .projectCardContainer {
      width: 100%;
      height: 100%;
      padding: 20px;
    }

    .projectCard {
      width: 100%;
      height: 100%;
    }
} */
