.projectCardContainer {
  height: 100%;
  width: 100%;
}

.projectCard {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border: 2px solid var(--clr-surface-a20);
  border-radius: var(--border-radius);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: center;
  box-shadow: 0px 5px 5px var(--shadow);
  justify-content: flex-start;
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1);
}

.projectImgContainer {
  position: relative;
  height: 130px;
}

.projectImgContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.linkContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: absolute;
  background-color: #333333c0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.77, 0, 0.175, 1);
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.linkContainer a {
  height: 50px;
  width: 50px;
  transform: scale(0);
  cursor: none;
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1.56);
}

.projectCardContainer:hover .linkContainer {
  opacity: 1;
}

.projectCardContainer:hover .linkContainer a {
  transform: scale(1);
}

.linkContainer a:hover {
  transform: scale(1.6);
}

.projectBottom {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.projectTitle {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.projectTagsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.paragraph {
  composes: paragraph from "../../app.module.css";
  margin-bottom: 5px;
}

@media (max-width: 964px) {
  .projectTitle {
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .projectCardContainer {
    perspective: 1200px;
  }
}

/* @media (max-width: 480px) {
   .projectCardContainer {
      width: 100%;
      height: 100%;
      padding: 20px;
    }

    .projectCard {
      width: 100%;
      height: 100%;
    }
} */
