.scrollIndicator {
  background-color: var(--clr-primary-a0);
}

.cursor {
  height: 16px;
  width: 16px;
  border-radius: 999px;
  position: absolute;
  background-color: var(--clr-primary-a20);
  z-index: 999;
  translate: -50% -50%;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  pointer-events: none;
  transition:
    transform 0.2s linear,
    background-color 0.5s,
    width 0.5s,
    height 0.5s;
}

.outerCursor {
  height: 32px;
  width: 32px;
  position: absolute;
  border: 1px solid var(--clr-primary-a20);
  z-index: 999;
  pointer-events: none;
  translate: -50% -50%;
  top: 0;
  left: 0;
  border-radius: 999px;
}

.cursorHover {
  background-color: var(--clr-light-a0);
  height: 42px;
  width: 42px;
}

.nav,
.mainContainer {
  padding: var(--section-padding);
}

.navContent,
.headerContent,
.mainContainer {
  max-width: 1200px;
}

.navContent a {
  padding: 8px;
  border-radius: var(--border-radius);
}

.navContent a:hover {
  background-color: var(--clr-surface-a10);
}

.navContent a:last-child {
  display: flex;
  align-items: center;
  gap: 2px;
}

.navContent a:last-child img {
  height: 15px;
}

.heroLabel,
.sectionTitle {
  font-weight: bold;
  font-size: 0.9rem;

  padding: 0px 10px;
}

.mainContainer {
  overflow-x: hidden;
}

.sectionTitle {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 25px;
}

.heroLabel {
  margin: 10px 0px;
  width: fit-content;
}

.paragraph {
  color: var(--clr-surface-a60);
  line-height: 150%;
}

.nav {
  border-bottom: 1px solid var(--clr-surface-a10);
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0px;
  background-color: var(--clr-surface-a0);
  z-index: 3;
}

.navContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: var(--clr-light);
}

.headerContainer {
  display: flex;
  padding: 10%;
  border-bottom: 1px solid var(--clr-surface-a20);
  position: relative;
}

/*
.headerBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--clr-primary-a0);
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(110px, 1fr));
  overflow: hidden;
} */

/* .box {
  background-color: var(--clr-surface-a0);
  transform-origin: center;
  will-change: transform;
  transition: background-color 1s;
}

.openBox {
  animation-name: open;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.closeBox {
  animation-name: close;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes open {
  from {
    background-color: var(--clr-surface-a0);
  }
  to {
    background-color: transparent;
  }
}

@keyframes close {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--clr-surface-a0);
  }
} */

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
  z-index: 2;
}

.imageContainer {
  height: 200px;
  max-width: 200px;
  border: 1px solid var(--clr-surface-a20);
  border-radius: var(--border-radius);
  flex: 1;
  position: relative;
}

.backBox {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: var(--clr-primary-a20);
  border-radius: var(--border-radius);
  z-index: -1;
  transform: translate(-10px, -10px);
  transition:
    transform 0.5s ease-in-out,
    box-shadow 3s;
}

.frontBox {
  position: absolute;
  height: 50px;
  width: 50px;
  background-color: var(--clr-primary-a10);
  z-index: 1;
  border-radius: var(--border-radius);
  right: -10px;
  bottom: -10px;
  transition: transform 0.5s ease-in-out;
}

.imageContainer:hover > .backBox,
.imageContainer:active > .backBox {
  transform: translate(0, 0) rotate(360deg);
  box-shadow: 0px 0px 30px var(--clr-primary-a20);
}

.imageContainer:hover > .frontBox {
  transform: rotate(360deg) scale(0.4);
}

.summary {
  flex: 1;
  max-width: 600px;
  background-color: var(--clr-surface-a0);
  padding: 30px;
  border: 1px solid var(--clr-surface-a20);
  border-radius: var(--border-radius);
}

.externalLinks {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
  pointer-events: all;
}

.externalLinks a {
  width: 25px;
}

.externalLinks a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profilePicture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 20% 80%;
  border-radius: inherit;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.recentProjects,
.workHistory,
.contactMe,
.technologies {
  margin: 100px 0px;
}

.recentProjects {
  width: 100%;
}

/* Project */

.projectCardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Work History */

.workHistory {
  padding: var(--section-padding);
}

.workHistoryContent {
  display: grid;
  grid-template-columns: 6fr 1fr 6fr;
  grid-template-rows: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.timelineCube {
  width: 20px;
  height: 20px;
  background-color: var(--clr-primary-a20);
  border: 1px solid var(--clr-primary-a10);
  border-radius: var(--border-radius);
  position: relative;
  transform: rotate(45deg);
  align-self: top;
  justify-self: center;
}

.timelineCube:first-child {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.timelineCube:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.timelineCube::after {
  content: "";
  height: 100px;
  width: 1px;
  position: absolute;
  transform: rotate(-45deg);
  right: -35.5px;
  top: 5px;
}

.timelineCube:first-child::after {
  background: var(--clr-primary-a10);
}

.timelineCube:nth-child(2)::after {
  background: linear-gradient(
    180deg,
    var(--clr-primary-a10) 0%,
    rgba(107, 206, 209, 0) 100%
  );
}

.workItem {
  grid-column: 3 / 4;
  align-self: center;
  justify-self: flex-start;
  position: relative;
}

.workItem:last-child {
  grid-column: 1 / 2;
  text-align: right;
}

.workItem:last-child .workDate {
  right: 0px;
}

.workDate {
  font-size: 0.7rem;
  font-weight: bold;
  color: var(--clr-surface-a50);
  position: absolute;
  top: -15px;
}

.workItem h6 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.workDescription {
  max-width: 500px;
}

/* Technologies Container */
.technologiesContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.titleWithIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.titleWithIcon img {
  height: 16px;
}

.technology {
  display: flex;
  gap: 30px;
  flex-direction: column;
  border: 2px solid var(--clr-surface-a20);
  padding: 30px;
  border-radius: var(--border-radius);
  height: fit-content;
}

.technology:first-child {
  grid-column: 1 / 2;
  grid-row: 1 / spans 3;
}

.technology h3 {
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.toolsContainer {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 300px;
}

.contactMe {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: var(--section-padding);
}

@media (max-width: 1044px) {
  .workHistoryContent {
    padding: 0;
  }
  .timelineCube::after {
    content: "";
    height: 130px;
    width: 1px;
    position: absolute;
    transform: rotate(-45deg);
    right: -45.5px;
    top: 0px;
  }
}

@media (max-width: 964px) {
  .imageContainer {
    height: 200px;
    max-width: 200px;
  }
  .summary {
    max-width: 400px;
    padding: 15px;
  }
  .heroLabel,
  .sectionTitle {
    font-size: 0.8rem;
  }

  .workItem h6 {
    font-size: 1rem;
  }

  .paragraph {
    font-size: 0.8rem;
  }

  .technologiesContainer {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }

  .technology {
    padding: 15px;
  }

  .technology:nth-child(4) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .technology:last-child {
    grid-column: 1 / 3;
    justify-self: center;
  }
}

@media (max-width: 700px) {
  .workHistoryContent {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .workItem {
    grid-column: 2 / 3;
    align-self: center;
    justify-self: flex-start;
    position: relative;
    margin-bottom: 55px;
  }

  .workItem:last-child {
    grid-column: 2 / 3;
    text-align: left;
  }

  .timelineCube:first-child {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .timelineCube:nth-child(2) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  .workItem:last-child .workDate {
    left: 0px;
  }
}

@media (max-width: 636px) {
  .headerContainer {
    padding: var(--section-padding);
  }
  .headerContent {
    flex-direction: column;
  }

  .imageContainer {
    height: 200px;
    width: 200px;
  }
  .technologiesContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .technology:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .technology:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .technology:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .technology:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .technology:last-child {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}

@media (max-width: 495px) {
  .workItem h6 {
    font-size: 0.8rem;
  }
}

@media (max-width: 478px) {
  .nav,
  .mainContainer,
  .headerContent,
  .workHistory {
    padding: var(--section-padding-sm);
  }

  .timelineCube::after {
    height: 150px;
    right: -53.5px;
    top: -2px;
  }

  .workItem {
    margin-bottom: 30px;
  }
}

@media (max-width: 380px) {
  .projectCardsContainer {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

@media (max-width: 350px) {
  .timelineCube::after {
    height: 180px;
    right: -64.5px;
    top: -6px;
  }
}
