.nav,
.headerContainer,
.mainContainer {
  padding: var(--section-padding);
}

.navContent,
.headerContent,
.mainContainer {
  max-width: 1200px;
}

.heroLabel,
.sectionTitle {
  font-weight: bold;
  font-size: 0.9rem;
  border-left: 3px dashed var(--clr-primary-a20);
  border-right: 3px dashed var(--clr-primary-a20);
  padding: 0px 10px;

}
.sectionTitle {
  text-align: center;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 25px;
  
}

.heroLabel {
    margin: 10px 0px;
    width: fit-content;
}

.paragraph {
  color: var(--clr-surface-a60);
}

.nav {
  border-bottom: 1px solid var(--clr-surface-a10);
  display: flex;
  justify-content: center;
}

.navContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: var(--clr-light);
}

.headerContainer {
  height: 400px;
  display: flex;
  border-bottom: 1px solid var(--clr-surface-a20);
}

.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.imageContainer {
  height: 300px;
  max-width: 300px;
  border: 1px solid var(--clr-surface-a20);
  border-radius: 999px;
  flex: 1;
}

.summary {
  flex: 1;
  max-width: 600px;
}

.externalLinks {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.externalLinks a {
  width: 25px;
}

.externalLinks a img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.profilePicture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 20% 80%;
  border-radius: inherit;
}


.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.recentProjects {
  width: 100%;
}

/* Project */

.projectCardsContainer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

/* Work History */

.workHistory {
  padding: var(--section-padding);
}

.workHistoryContent {
  display: grid;
  grid-template-columns: 6fr 1fr 6fr;
  grid-template-rows: auto;
  padding: var(--section-padding);
  margin-bottom: 50px;
}

.timelineCube {
  width: 20px;
  height: 20px;
  background-color: var(--clr-primary-a20);
  border: 1px solid var(--clr-primary-a10);
  position: relative;
  transform: rotate(45deg);
  align-self: top;
  justify-self: center;
}

.timelineCube:first-child {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.timelineCube:nth-child(2) {
  grid-row: 2 / 3;
  grid-column: 2 / 3;

}

.timelineCube::after{
  content: "";
  height: 100px;
  width: 1px;
  position: absolute;
  transform: rotate(-45deg);
  right: -35.5px;
  top: 5px;
}

.timelineCube:first-child::after {
  background: var(--clr-primary-a10);
}

.timelineCube:nth-child(2)::after{
  background:linear-gradient(180deg,var(--clr-primary-a10) 0%, rgba(107, 206, 209, 0) 100%);
}

.workItem {
  grid-column: 3 / 4;
  align-self: center;
  justify-self: flex-start;
}

.workItem:last-child{
  grid-column: 1 / 2;
  text-align: right;
}

.workItem h6 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.workDescription {
  max-width: 500px;
}